{% load staticfiles %}<!DOCTYPE html>
<!--[if lt IE 7]>
    <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]>
    <html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]>
    <html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"><!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <!-- Enable Google Chrome Frame support -->
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width; initial-scale=1.0">

        <meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
        <meta name="description" content="{% block meta-description %}{% endblock %}">

        <title>{% block title %}{% endblock %} | Oregon Liquor Prices</title>
        <!-- TODO: Include a shortcut icon. -->
        <!-- TODO: Include an RSS feed for sale items. -->

        <!-- Stylesheets -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!-- Fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cabin|Lobster" />

        <!-- Scripts -->
        <script src="{% static 'js/libs/modernizr-2.5.3.min.js' %}"></script>
    </head>
    <body>
        <!-- Prompt IE 6 users to install Chrome Frame. -->
        <!--[if lt IE 7]>
            <p class=chromeframe>
                Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.
            </p>
        <![endif]-->

        <header>
            <div class="wrap">
                <h1 class="visuallyhidden">Oregon Liquor Prices</h1>

                <nav>
                    <ul class="horizontal-nav">
                        <li><a class="selected" href="{% url home %}">Oregon Liquor Prices</a></li>
                        <li><a href="{% url products 1 %}">Products</a></li>
                        <li><a href="{% url sale 1 %}">On Sale</a></li>
                        <li><a href="{% url stores %}">Stores</a></li>
                        <li><a href="{% url about %}">About</a></li>
                    </ul>
                </nav>
            </div> 
        </header>

        <div id="content" role="main">
            <div class="wrap">
                {% block content %}{% endblock %}
            </div>
        </div>

        <footer>
            <div class="wrap">
                <p>
                    Site by <a href="http://www.tristanwaddington.com/">Tristan Waddington</a> |
                    All data obtained directly from the <a title="Oregon Liquor Control Commission" href="http://www.oregon.gov/OLCC/">OLCC</a>
                </p>
            </div>
        </footer>

        <!-- Scripts at the bottom for faster loading! -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'js/libs/jquery-1.7.1.min.js' %}"><\/script>')</script>

        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>

        <!-- Google Analytics -->
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-2012911-15']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </body>
</html>
