Django==1.4
psycopg2==2.4.5
gunicorn==0.14.2
requests==0.11.2
mock==0.8.0
xlrd==0.7.7
geopy==0.94.2
raven==1.7.5
django-tastypie==0.9.11
beautifulsoup4==4.1.0
dj-database-url==0.2.1
django-debug-toolbar==0.9.4
lxml==3.0
