{% extends 'site_base.html' %}
{% load i18n %}

{% block title %}
    Search
{% endblock %}

{% block content %}
    <h2>Welcome</h2>
    <p>
        Welcome to <em>Oregon Liquor Prices</em>, the unofficial
        <abbr title="Oregon Liquor Control Commission">OLCC</abbr>
        price list!
    </p>

    <p>
        You can find the official OLCC product search at
        <a href="http://oregonliquorsearch.com/">oregonliquorsearch.com</a>.
    </p>

    <section id="on-sale">
        <h2><a href="{% url sale %}">On Sale</a></h2>

        <ul class="price-list">
        {% for product in on_sale %}
            <li class="product-row {% if product.on_sale %}on-sale{% endif %}">
                <a href="{% url product product.slug %}">
                    <div class="title">
                        {{ product.title }} <span class="size"> {{product.size }}</span>
                    </div>

                    <div class="meta">
                        <span class="code">{{ product.code }}</span>
                        
                        {% if product.proof %}
                            | <span class="proof">{{ product.proof }}-proof</span>
                        {% endif %}

                        {% if product.age %}
                            | <span class="age">{{ product.age }}-years</span>
                        {% endif %}
                    </div>

                    <div class="price">
                        {% if not product.price %}
                            N/A
                        {% else %}
                            {{ product.price }}
                        {% endif %}
                    </div>
                </a>
            </li>
        {% endfor %}
        </ul>
    </section>

    <section id="products">
        <h2><a href="{% url products %}">Products</a></h2>

        <ul class="price-list">
        {% for product in products %}
            <li class="product-row {% if product.on_sale %}on-sale{% endif %}">
                <a href="{% url product product.slug %}">
                    <div class="title">
                        {{ product.title }} <span class="size"> {{product.size }}</span>
                    </div>

                    <div class="meta">
                        <span class="code">{{ product.code }}</span>
                        
                        {% if product.proof %}
                            | <span class="proof">{{ product.proof }}-proof</span>
                        {% endif %}

                        {% if product.age %}
                            | <span class="age">{{ product.age }}-years</span>
                        {% endif %}
                    </div>

                    <div class="price">
                        {% if not product.price %}
                            N/A
                        {% else %}
                            {{ product.price }}
                        {% endif %}
                    </div>
                </a>
            </li>
        {% endfor %}
        </ul>
    </section>
{% endblock %}
