{% extends 'site_base.html' %}
{% load i18n %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% if query %}
        <h2>
            Found {{ products_page.paginator.count }}
            product{{ products_page.object_list|pluralize }} for &quot;{{ query }}&quot;
        </h2>
    {% else %}
        <h2>{{ title }}</h2>
    {% endif %}

    <ul class="price-list">
    {% for product in products_page.object_list %}
        <li>
            <a href="{% url product product.slug %}">
                {{ product.title }}
                <small>({{ product.size }})</small>

                <small>| {{ product.proof }} proof</small>
                <small>| {{ product.age }} years</small>

                <!-- This month v. last month price in colored boxes -->
                <!-- Add an icon if they are currently on sale -->
            </a>
        </li>
    {% endfor %}
    </ul>

    <div class="pagination">
        {% if products_page.has_previous %}
            <a href="{% url products 1 %}">first</a>
            <a href="{% url products products_page.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ products_page.number }} of {{ products_page.paginator.num_pages }}
        </span>

        {% if products_page.has_next %}
            <a href="{% url products products_page.next_page_number %}">next</a>
            <a href="{% url products products_page.paginator.num_pages %}">last</a>
        {% endif %}
    </div>
{% endblock %}
