{% extends 'site_base.html' %}
{% load i18n humanize %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% if query %}
        <h2>
            Found {{ products_page.paginator.count }}
            product{{ products_page.object_list|pluralize }} for &quot;{{ query }}&quot;
        </h2>
    {% else %}
        <h2>{{ title }}</h2>
    {% endif %}

    <ul class="price-list">
    {% for product in products_page.object_list %}
        <li class="product-row {% if product.on_sale %}on-sale{% endif %}">
            <a href="{% url product product.slug %}">
                <div class="title">
                    {{ product.title }} <span class="size"> {{product.size }}</span>
                </div>

                <div class="meta">
                    <span class="code">{{ product.code }}</span>
                    
                    {% if product.proof %}
                        | <span class="proof">{{ product.proof }}-proof</span>
                    {% endif %}

                    {% if product.age %}
                        | <span class="age">{{ product.age }}-years</span>
                    {% endif %}
                </div>

                <div class="price">
                    {% if not product.price %}
                        N/A
                    {% else %}
                        {{ product.price }}
                    {% endif %}
                </div>
            </a>
        </li>
    {% endfor %}
    </ul>

    <div class="pagination">
        {% if products_page.has_previous %}
            <a href="{% url products 1 %}">first</a>
            <a href="{% url products products_page.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ products_page.number }} of {{ products_page.paginator.num_pages }}
        </span>

        {% if products_page.has_next %}
            <a href="{% url products products_page.next_page_number %}">next</a>
            <a href="{% url products products_page.paginator.num_pages %}">last</a>
        {% endif %}
    </div>
{% endblock %}
