{% extends 'site_base.html' %}
{% load i18n %}

{% block title %}
    Stores
{% endblock %}

{% block content %}
    <script>
        var locate = function() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(pos) {
                    console.debug(pos);
                }, function(msg) {
                    console.error(msg)
                });
            } else {
                // Not supported
            }
        }
    </script>

    <div class="message">
        <p>
            Locate the store closest to you!
            <a id="nearby-stores" class="button" href="#" onclick="locate();">
                {% trans 'Find Stores' %}
            </a>
        </p>
    </div>

    {% for s in stores %}
        <div class="store">
            <p class="details">
                <span class="name">{{ s.name }}</span><br />
                <span class="adr">{{ s.address }}</span><br />
                <span class="hrs">Open: {{ s.hours_raw }}</span>
            </p>
               
            <p class="tel">
                <a href="tel:{{ s.tel }}">{{ s.phone }}</a>
            </p>

            <div class="map">
                <a href="//maps.google.com/?q={{ s.address|urlencode }}@{{ s.latitude }},{{ s.longitude }}">
                    <img
                        width="350"
                        height=200"
                        src="//maps.googleapis.com/maps/api/staticmap?size=350x200&sensor=false&region=us&markers={{ s.address|urlencode }}" />
                </a>
            </div>
        </div>
    {% empty %}
        <p>No stores found!</p>
    {% endfor %}
{% endblock %}
