/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
.chromeframe {
    margin: 0;
    padding: 10px 20px;
    color: #fff;
    background-color: #146E24;
}


/* ==|== primary styles =====================================================
   Author: Tristan Waddington
   ========================================================================== */

html, body {
    width: 100%;
    color: #444;
    font-family: "Cabin", Helvetica, Arial, sans-serif;
    background-color: #666;
}

.wrap {
    position: relative;
    min-width: 480px;
    max-width: 960px;
    margin: auto;
    overflow: hidden;
}

#tagline {
    margin-left: 5px;
    color: #bcbcbc;
    font-size: 45%;
    font-family: monospace;
}

header {
    position: relative;
    margin: 0;
    padding: 20px;
    color: #146e24;
    font-size: 125%;
    background-color: #fff;
    z-index: 2;
}

nav {
    width: 100%;
    overflow: hidden;
}

nav a,
nav a:link,
nav a:visited {
    color: #bcbcbc;
    text-decoration: none;
}

nav a:hover,
nav a:active,
nav a.active {
    color: #146e24;
}

#search {
    display: block;
    margin-top: 20px;
}

#search form,
#search fieldset {
    margin: 0;
    padding: 0;
    background: transparent;
}

#search input {
    display: block;
    width: 90%;
    margin: 0;
    padding: 6px 4px;
    color: #888;
    font-size: 75%;
    border: none;
    border-bottom: 1px solid #bcbcbc;
    opacity: .35;
}

#search input:focus {
    opacity: 1;
}

#site-last-updated {
    margin: 30px 0 0 0;
    padding: 0;
    color: #888;
    font-size: 85%;
    text-align: center;
}

footer {
    padding: 20px;
    color: #eee;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 85%;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 -1px 0 #000;
}

footer p {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    text-align: justify;
}

#content {
    background-color: #fff;
    -moz-box-shadow: 0 4px 8px #222;
    -webkit-box-shadow: 0 4px 8px #222;
    box-shadow: 0 4px 8px #222;
}

#content .wrap {
    padding: 0 20px 20px 20px;
}

header,
h1,h2,h3,h4,h5,h6 {
    color: #444;
    font-family: "Lobster", Georgia, Times, serif;
    font-weight: normal;
}

footer h2, footer h3 {
    color: #fff;
    font-size: 175%;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 125%;
}

h3 {
    font-size: 115%;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: underline;
    outline: none;
}

a:hover,
a:active {
    text-decoration: none;
}

fieldset {
    margin: 0;
    padding: 20px;
    background-color: #F5F5F5;
}

fieldset ol,
fieldset li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

fieldset .errorlist {
    margin: 10px 0;
    padding: 0;
    color: red;
}

#powered-by {
    margin: 0 0 20px 60px;
    float: right;
}

#about-text {
    text-align: justify;
}

#about-text p:first-child {
    margin-top: 0;
    padding-top: 0;
}

.store {
    margin: 0 0 20px 0;
    padding: 20px;
    font-size: 90%;
    background-color: #F5F5F5;
    overflow: hidden;
    text-align: center;
    clear: both;
}

.store .details {
    color: #888;
}

.store .name {
    color: #444;
    font-size: 120%;
    font-weight: bold;
}

.store .adr {
    font-style: italic;
}

.store .tel {
    margin: 10px 0;
}

.store .hours {

}

.store .map {
    width: 350px;
    margin: 20px auto 0;
    padding: 5px;
    background-color: #FFF;
    -webkit-box-shadow: 1px 1px 5px #444;
    -moz-box-shadow: 1px 1px 5px #444;
    -o-box-shadow: 1px 1px 5px #444;
    box-shadow: 1px 1px 5px #444;
}

.price-list {
    margin: 0 0 20px 0;
    padding: 0;
    list-style-type: none;
}

.price-list li {
    list-style-type: none;
}

.price-list li:nth-child(odd) a {
    background-color: #F5F5F5;
}

.price-list li a,
.price-list li a:link,
.price-list li a:visited {
    display: block;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    border-left: 4px solid transparent;
}

.price-list li a:hover,
.price-list li a:active {
    background-color: #ffe;
}

.price-list li.on-sale a {
    border-color: #146E24;
}

.product-row {
    position: relative;
}

.product-row .title {
    font-weight: bold;
}

.product-row .size {
    font-weight: normal;
    font-size: 75%;
}

.product-row .meta {
    color: #888;
    font-size: 75%;
}

.product-row .code {

}

.product-row .proof {

}

.product-row .age {

}

.product-row .price {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    font-size: 110%;
}

.pagination {
    margin: 10px 0;
    text-align: center;
}

.pagination a,
.pagination .current {
    display: inline-block;
    margin: 0 .15em 0 0;
    padding: .25em;
    color: #888;
    font-size: 115%;
}

#product-profile {

}

#product-profile .price {
    margin: 20px 0;
    padding: 0;
    color: #888;
}

#product-profile .price tbody {
    display: block;
    margin: 0;
    padding: 15px;
    background-color: #F5F5F5;
}

#product-profile .price td {
    text-align: center;
    vertical-align: middle;
}

#product-profile .price .help {
    margin: 5px;
    font-size: 65%;
}

#current-price {
    margin: 0;
    padding: 0 15px 0 0;
    font-size: 180%;
    border-right: 1px solid #dadfe1;
}

#next-price {
    position: relative;
    left: 15px;
    padding:  5px 10px;
    border-bottom: 1px solid #dadfe1;
}

#previous-price {
    padding: 5px 10px;
}

.horizontal-nav li,
.horizontal-nav a {
    display: block;
    margin: 0 .35em 0 0;
    float: left;
}

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media screen and (min-width: 768px) {
    header {
        font-size: 140%;
    }

    nav {
        width: auto;
    }

    #search {
        position: absolute;
        top: 0;
        right: 0;
        width: 225px;
        margin: 4px 0 0 0;
        padding: 0;
        font-size: 75%;
    }

    h2 {
        font-size: 135%;
    }

    #about-text .copy {
        -webkit-column-gap: 4em;
        -moz-column-gap: 4em;
        column-gap: 4em;

        -webkit-column-rule: 1px solid #F5F5F5;
        -moz-column-rule: 1px solid #F5F5F5;
        column-rule: 1px solid #F5F5F5;

        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .store {
        text-align: left;
        float: none;
    }

    .store .details {
        float: left;
    }

    .store .map {
        margin: 0;
        float: right;
    }
}

@media screen and (min-width: 960px) {
    header {
        font-size: 160%;
    }

    h2 {
        font-size: 145%;
    }
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
